@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeistVF";
  src: url("fonts/GeistVF.woff") format("woff");
}

.home-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../assets/images/penglipuran.jpg");
}

.a {
  transform: translateY(-2px);
}
